.logo-status-container {
  font-size: large;
}

@media only screen and (max-height: 815px) {
  .logo-status-container {
    font-size: medium;
  }
}

@media only screen and (max-height: 750px) {
  .logo-component {
    display: none;
  }
}
