@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translateX(1.5in);
  }
  100% {
    transform: rotate(360deg) translateX(1.5in);
  }
}

@keyframes driveOffScreen {
  0% {
    transform: rotate(0deg); /* Starting state, not rotated */
  }
  25% {
    transform: rotate(90deg); /* Rotate to 90 degrees early in the animation */
  }
  100% {
    transform: rotate(90deg) translateY(-100vh); /* Maintain rotation and translate */
  }
}
